<div class="container-1">
  <div class="header">
    <div class="section-1">
      <p>kawary&#64;gmail.com</p>
      <button>Copy</button>
      <button>CV</button>
    </div>
    <div>
      Linkedin/Dri/Instragm
    </div>
  </div>
  <div class="container-1-body">
    <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
    <p>Building digital</p>
    <p>product,brands, and </p>
    <p>experience.</p>
    <button>Linked Shots <i class="fa-solid fa-circle-arrow-up-right"></i> </button>
  </div>
</div>
<div class="container-2">
  <div class="logo-1">
    <p>National Bank</p>
  </div>
  <div class="logo-2">
    <p> mattered</p>
  </div>
  <div class="logo-3">
    <p>Coca-Cola</p>
  </div>
  <div class="logo-4">
    <p>Adobe</p>
  </div>
  <div class="logo-5">
    <p>SUBWAY</p>
  </div> 
  <div class="logo-6">
    <p>codecademy</p>
  </div>  
  
</div>
<div class="container-3">
  <div class="container-3-body">
    <p>Collaborate with brand and agencies</p>
    <p>to create impactful result</p>
  </div>
  <div class="container-3-middle">
    <button>Button</button>  
  </div>
  <div class="container-3-footer">
    <div class="item-1">
      <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
      <p>UI/UX</p>
      <p class="subtext">Designing interface</p>
    </div>
    <div class="item-2">
      <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
      <p>UI/UX</p>
      <p class="subtext">Designing interface</p>
    </div>
    <div class="item-3">
      <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
      <p>UI/UX</p>
      <p class="subtext">Designing interface</p>
    </div>
    <div class="item-4">
      <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
      <p>UI/UX</p>
      <p class="subtext">Designing interface</p>
    </div>
  </div>

</div>
<div class="container-4">
  <img src=" " style="width: 50px;height: 50px;border-radius: 25px;" class="img-thumbnail" alt="" />
  <div class="p-body">
    <p>Tell me about your next</p>
    <p>project</p>
  </div>
  <form action="btn">
    <button class="black" >whatsapp</button>
    <button class="white" >Click Me</button>
  </form>
</div>
